@use '../../assets/globalstyles';

.page-title{
    font-size: 2rem;
    margin-bottom: 10px;
    color: black;
}

.list-container{
    background-color: #1D1E22;
    height: 80%;
    width: 60%;
    margin: 0 auto;
    margin-top: 6%;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item{
    cursor: pointer;
    :hover{
        background: #393e46; 
    }
    a{
        border-radius: 4px;
        color: white;
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;
        padding: 10px 0px;
        h2,h3{
            padding: 0;
            margin: 0;
            width: 50%;
        }
    }
}

.homeButton{
    height: 50px;
    width: 15%;
    min-width: 100px;
    background: #1D1E22;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.list-topbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding:15px 0;
    span{
        width: 50%;
        text-align: center;
    }
}


