@use '../../assets/globalstyles';

.page-title{
    font-size: 2rem;
    margin-bottom: 10px;
    color: black;
}

.list-container{
    background-color: #1D1E22;
    height: 80%;
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 6%;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
    // width: 90%;
}

.list-item{
    position: relative;
    cursor: pointer;
    // .item{
    //     :hover{
    //         background: #393e46; 
    //     }
    // }
    .item{
        display: flex;
    }
    a{
        border-radius: 4px;
        color: white;
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;
        padding: 10px 0px;
        h2,h3{
            padding: 0;
            margin: 0;
            width: 50%;
            text-align: left;
            margin-left: 10%;
        }
    }
}

.operations{
    // position: absolute;
    // right: -10%;
    // top: 0;
    display: flex;
}

.homeButton{
    height: 50px;
    width: 15%;
    min-width: 100px;
    background: #1D1E22;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.list-topbar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    // margin: 0 auto;
    margin-right: auto;
    padding:15px 0;
    span{
        width: 50%;
        text-align: center;
    }
}

.operations{
    // margin-top: -2.5rem;
    // margin-left: auto;
    button{
        margin-right: 5px;
        height: 2rem;
        max-width: 50px;
        color: black;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }
}

// .editInput{
//     color: rgb(36, 35, 42);
//     font-size: 16px;
//     line-height: 20px;
//     min-height: 28px;
//     border-radius: 4px;
//     padding: 8px 16px;
//     margin: 10px 0;
//     border: 2px solid transparent;
//     box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
//     background: rgb(251, 251, 251);
//     transition: all 0.1s ease 0s;
//     :focus{
//         border: 2px solid rgb(124, 138, 255);
//     }
// }
