@use '../../assets/globalstyles';


// .page-title{
//     font-size: 2rem;
//     margin-bottom: 50px;
//     background-color: rgb(167, 167, 167);
// }

.backButton{
    height: 50px;
    width: 15%;
    min-width: 100px;
    background: #1D1E22;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
}

.container{
    h1{
        color: black;
    }
}