.container{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    position: relative;
    height: 90vh;
}


.page-title{
    font-size: 2rem;
    margin-bottom: 50px;
    background-color: rgb(167, 167, 167);
}

