@use '../../assets/globalstyles';
$height: 40px;

form{
    margin: 0 auto;
}

fieldset {
    border: none;
    .inputs{
        display: flex;
        position: relative;
        width: 30%;
        min-width: 130px;
        flex-direction: column;
        margin: 0 auto;
        input{
            color: rgb(36, 35, 42);
            font-size: 16px;
            line-height: 20px;
            min-height: 28px;
            border-radius: 4px;
            padding: 8px 16px;
            margin: 10px 0;
            border: 2px solid transparent;
            box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
            background: rgb(251, 251, 251);
            transition: all 0.1s ease 0s;
            :focus{
                border: 2px solid rgb(124, 138, 255);
            }
            ::placeholder{
                font-weight: 500;
            }
        }
        h5{
            padding: 0;
            margin: 0;
            margin-right: auto;
            margin-left: 10px;
            color: red;
        }
        .numberContainer{
            display: flex;
            flex-direction: row-reverse;
            // justify-content: space-between;
        }
        select{
            border-radius: 10px;
            // width: 100%;
        }
    }

    .saveButton{
        height: $height;
        width: 100px;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 3px;
        padding: 12px 24px;
        border: 0;
        color: #fff;
        background: #1D1E22;
        font-size: 16px;
        margin-top: 10px;
    }
}

.error{
    visibility: visible;
    position: relative;
    bottom: 0;
    left: 0;
}

.success{
    visibility: visible;
    position: relative;
    bottom: 0;
    left: 0;
    color: Green!important;
}

.showContacts{
    height: 50px;
    min-width: 100px;
    width: 15%;
    margin-bottom: 40px;
    background: #1D1E22;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}