@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

#root {
  width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Sorts Mill Goudy', serif;
  color: black; 
}

// $container: d;
